body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #4d4d4d;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
}
a {
	color: #000000;
	text-decoration: none;
}
hr {
	color: #eeeeee;
	background-color: #eeeeee;
	height: 1px;
	border: none;
}
aside {
	min-width: 320px;
	background-color: #222222;
	text-align: center;
}
aside a {
	color: #fff;
}
aside div#sidebar{
	max-width: 640px;
	margin: 0 auto;
	padding: 40px;
	text-align: center;
}
aside section {
	display: inline-block;
	vertical-align: middle;
}
aside section.logo {
	margin-right: 10px;
}
aside section.logo img {
	border-radius: 50%;
	border: 3px solid white;
	transform: scale(1);
	transition: transform 200ms;
	width: 128px;
	height: 128px;
}
aside section.logo img:hover {
	transform: scale(1.05);
	transition: transform 200ms;
}
aside div#sidebar h2 {
	margin: 5px 0 5px 0;
	color: #fff;
}
aside div#sidebar p {
	margin: 0 0 15px 0;
	font-size: 14px;
	color: #a0a0a0;
}
aside nav ul {
	margin: 15px 0 0 0;
	padding-left: 0;
	font-size: 16px;
	list-style-type: none;
}
aside nav ul li {
	display: inline;
	line-height: 3em;
}
aside nav ul li a {
	padding: 6px 13px;
	border-radius: 15px;
	color: #eee;
	background: #137FA6;
	box-shadow: 0 0 0 2px #137fa6;

	transition: all 150ms;
}
aside nav ul li a:hover {
	background: #127193;
	box-shadow: 0 0 0 2px #127193;

	transition: all 200ms;
}
main {
	min-width: 320px;
}
main > header {
	margin: 0 auto;
	max-width: 640px;
	padding: 30px 40px 0 40px;
}
main > header p {
	color: #999;
	font-size: 14px;
	margin: 0;
}
main header h1 {
	margin-top: 15px;
	margin-bottom: 5px;
}
main article.post header p {
	margin: 0;
	font-size: 12px;
	color: #bebebe;
}
main article {
	max-width: 640px;
	padding: 0 40px 40px 40px; 
	margin: 0 auto;
}

main article header {
	padding: 0;
}

main article header h1 {
	margin-top: 15px;
	margin-bottom: 5px;
}
main article header h1 a{
	color: #000;
}
main article header h1 a:hover{
	color: #666;
}

main article div.article_text {
	line-height: 1.375em;
}
main article div.article_text img{
	width: 100%;
	height: auto;
}
main article div.article_text div.gallery ul{
	margin: 0;
	padding: 0;
}
main article div.article_text div.gallery li{
	display: inline-block;
	display: inline-block;
	width: calc(33% - 4px);
	height: auto;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
main article div.article_text div.gallery img{
	width: 100%;
	height: auto;
}
main article div.article_text a {
	color: #009AA6;
	text-decoration: underline;
}
main article div.article_text code {
	margin: 2px;
	padding: 0;
	color: #000000;
	font-size: 14px;
	font-family: 'PT Mono', monospace;
	background: #eeeeee;
}
main article div.article_text pre {
	margin: 22px 2px 22px 2px;
	padding: 2px;
	color: #000000;
	border-left: 3px solid #0e94ec;
	font-size: 14px;
	font-family: 'PT Mono', monospace;
	background: #eeeeee;
	line-height: 1.125em;
	overflow-x: auto;
}
main article div.article_text blockquote {
	margin: 22px 2px 22px 2px;
	padding-left: 40px;
	color: #999999;
	font-style: italic;
}
main article div.article_text a.read_more {
	vertical-align: middle;
	padding: 5px 7px;
	color: #fff;
	font-size: 12px;
	border-radius: 12px;
	background-color: #70AABB;
	text-decoration: none;
	box-shadow: 0 0 0 0px #70AABB;

	transition: all 150ms;
}
main article div.article_text a.read_more:hover {
	background-color: #4B8596;
	box-shadow: 0 0 0 2px #4B8596;
	transition: all 200ms;
}

main article div.videobox {
	position: relative;
	overflow: hidden;
	padding-bottom: 58.6%;
}
main article div.videobox iframe,
main article div.videobox object,
main article div.videobox embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
main article div.gist {
	line-height: .875em;
}
main article div.article_meta {
	font-size: 12px;
	color: #b0b0b0;
}
main article div.article_meta p{
	margin: 0;
	padding: 0;
}
main article div.article_meta a{
	color: #b0b0b0;
}
main article div.article_meta a:hover{
	color: #127193;
}
main footer {
	max-width: 640px;
	border-top: #eeeeee 1px solid;
	padding: 40px;
	margin: 0 auto;
}
main footer a.button_accent {
	padding: 6px 13px;
	border-radius: 15px;
	color: #fff;
	background-color: #51b2f2;
	box-shadow: 0 0 0 2px #51b2f2;
	font-size: 18px;

	transition: all 150ms;
}
main footer a.button_accent:hover {
	color: #ffffff;
	background: #0e94ec;
	box-shadow: 0 0 0 2px #0e94ec;

	transition: all 150ms;
}
main div#ending_message {
	padding: 0 40px 0 40px;
	color: #999999;
	font-size: 10px;
}
div#paginator {
	text-align: center;
}
@media screen and (min-width: 1024px) {
	hr {
		background: linear-gradient(to right, #eeeeee, #ffffff);
	}
	aside {
		min-width: initial;
		width: 25%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		border-right: #eee 1px solid;
	}
	aside section.logo {
		margin-right: 10px;
	}
	aside h2 {
		margin: 10px 0 0 0;
	}
	aside div#sidebar {
		float: right;
		max-width: 192px;
		text-align: right;
	}
	aside div#sidebar ul li {
		display: block;
	}
	main {
		width: 75%;
		position: absolute;
		top: 0;
		left: 25%;
		overflow-x: hidden;
		overflow-y: hidden;
	}
	main article {
		margin: 0 0;
	}
	main header {
		margin: 0 0;
	}
	main footer {
		margin: 0 0;
	}
}
